.button1 a{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:50px;
  padding-right:50px;
text-decoration: none;
font-family: arial,sans-serif;
color:rgb(234, 117, 0);
font-weight: bold;
background-color:rgba(192, 192, 192,0.8);
}
.button1 a:hover{
  background-color:rgba(234, 117, 0,0.7);
  color:rgb(192, 192, 192) ;
}
.button1 a:active{
  background-color:rgba(234, 117, 0,0.7);
  color:rgb(192, 192, 192) ;
}

.button2 a{
  padding-top:20px;
    padding-bottom:20px;
      padding-left:30px;
        padding-right:30px;
  text-decoration: none;
  font-family: arial,sans-serif;
  color:rgb(234, 117, 0) ;
  font-weight: bold;
  background-color: rgba(192, 192, 192,0.7);
}
.button2 a:hover{
background-color:rgba(234, 117, 0,0.7);
color:rgb(192, 192, 192) ;
}
.button2 a:active{
  background-color:rgba(234, 117, 0,0.7);
  color:rgb(192, 192, 192) ;
}
.contact ul li{
text-align:center;
margin-right: 45px;
list-style: none;
font-size: 9.5px;
color: #ccc;
}
