.nav{
margin-top:-20px;
width:720px;
height: 270px;
}
.form_input1{
position: relative;
top:-80px;
left: 40px;
}
select{
  height: 45px;
  width: 130px;
  padding-left: 7px;
color:rgb(204, 102, 0);
position: relative;
left: 20px;
top: -20px;
}
.form_input2{
  position: relative;
  top:-10px;
  left: 150px;
}
.form_input1 input{
height: 45px;
width: 370px;
}
.form_input2 input{
height: 45px;
width: 45px;
border:2px solid;
font-weight: bold;
}
h1{
color: rgb(127,84, 0);
font-family: arial,sans-serif;
font-weight: bold;
font-size: 22px;
width: 700px;
height:20px;
position: absolute;
margin-left: 350px;
margin-top:30px;
text-align: center;
padding: 10px;
}
