.form_input1{
margin-left: 450px;
margin-top: 100px;
}
.form_input2{
margin-left: 855px;
margin-top:-50px;
}
.form_input1 input{
height: 45px;
width: 400px;
}
.form_input2 input{
height: 45px;
width: 45px;
border: 20px;
}
