p{
  font-family: arial,sans-serif;
  font-weight: bold;
  color: rgb(204, 102, 0);
}
.button1{
	position:relative;
margin-left: -40px;
margin-top: 80px;
}
.button2{
	position:relative;
margin-left: 140px;

}
.contact{
margin-left: -210px;
}
